on:
  workflow_call:

jobs:
  check-branch-name:
    runs-on: ubuntu-24.04
    steps:
      - name: Check branch name for main
        if: github.base_ref == 'main'
        run: |
          BRANCH_NAME="${{ github.head_ref }}"
          echo "Source branch: $BRANCH_NAME"
          echo "Target branch: ${{ github.base_ref }}"

          if [[ $BRANCH_NAME == hotfix-* ]] || [[ $BRANCH_NAME == feature-* ]] || [[ $BRANCH_NAME == bugfix-* ]]; then
            echo "Branch name is valid"
            exit 0
          else
            echo "Invalid branch name for main pull request"
            echo "Branch name must start with 'hotfix-', 'feature-', or 'bugfix-'"
            exit 1
          fi

      - name: Check branch name for client branches
        if: startsWith(github.base_ref, 'client-')
        run: |
          BRANCH_NAME="${{ github.head_ref }}"
          echo "Source branch: $BRANCH_NAME"
          echo "Target branch: ${{ github.base_ref }}"

          if [[ $BRANCH_NAME == feature-* ]] || [[ $BRANCH_NAME == bugfix-* ]] || [[ $BRANCH_NAME == hotfix-* ]] || [[ $BRANCH_NAME == main ]]; then
            echo "Branch name is valid"
            exit 0
          else
            echo "Invalid branch name for client pull request"
            echo "Branch name must start with 'feature-', 'bugfix-', or 'hotfix-' or be 'main'"
            exit 1
          fi
