on:
  workflow_call:
    inputs:
      TIMEOUT:
        type: number
        default: 120
        description: "Timeout for the job in minutes"
      GCC_CONFIG:
        type: string
        default: ""
        description: "Path to GCC configuration file"
      INTEL_CONFIG:
        type: string
        default: ""
        description: "Path to Intel configuration file"
      INTEL:
        type: boolean
        default: false
        description: "Whether to run Intel-specific build and test steps (if false, runs GCC steps)"
      GCC:
        type: boolean
        default: true
        description: "Whether to run GCC-specific build and test steps (if false, runs Intel steps)"
      BUILD_SCRIPT:
        type: string
        default: ".github/build_real.sh"
        description: "Path to build script"
      TEST_SCRIPT:
        type: string
        default: ".github/test_real.sh"
        description: "Path to test script"
      BUILD:
        type: boolean
        default: true
        description: "Whether to run the build step"
      TEST:
        type: boolean
        default: true
        description: "Whether to run the test step"
      MYPY:
        type: boolean
        default: false
        description: "Whether to run mypy type checking"
    secrets:
      DOCKER_USER:
        required: true
        description: "Docker registry username"
      DOCKER_OAT:
        required: true
        description: "Docker registry Organization Access Token"

env:
  SCRITICAL_HOMEDIR: /home/scriticaluser
  BASHRC: /home/scriticaluser/.bashrc_scritical

jobs:
  build-gcc:
    if: inputs.GCC
    runs-on: ubuntu-24.04
    timeout-minutes: ${{ inputs.TIMEOUT }}
    steps:
      - name: Build and test (GCC)
        uses: ./.github/actions/build-and-test
        with:
          docker_tag: u24-gcc-ompi-latest
          config_file: ${{ inputs.GCC_CONFIG }}
          build_script: ${{ inputs.BUILD_SCRIPT }}
          test_script: ${{ inputs.TEST_SCRIPT }}
          build: ${{ inputs.BUILD }}
          test: ${{ inputs.TEST }}
          mypy: ${{ inputs.MYPY }}
          docker_user: ${{ secrets.DOCKER_USER }}
          docker_oat: ${{ secrets.DOCKER_OAT }}

  build-intel:
    if: inputs.INTEL
    runs-on: ubuntu-24.04
    timeout-minutes: ${{ inputs.TIMEOUT }}
    steps:
      - name: Build and test (Intel)
        uses: ./.github/actions/build-and-test
        with:
          docker_tag: u24-intel-ompi-latest
          config_file: ${{ inputs.INTEL_CONFIG }}
          build_script: ${{ inputs.BUILD_SCRIPT }}
          test_script: ${{ inputs.TEST_SCRIPT }}
          build: ${{ inputs.BUILD }}
          test: ${{ inputs.TEST }}
          mypy: ${{ inputs.MYPY }}
          docker_user: ${{ secrets.DOCKER_USER }}
          docker_oat: ${{ secrets.DOCKER_OAT }}
          
