on:
  workflow_call:
    inputs:
      TIMEOUT:
        type: number
        default: 30
        description: "Timeout for the job in minutes"
    secrets:
      DOCKER_USER:
        required: true
        description: "Docker registry username"
      DOCKER_OAT:
        required: true
        description: "Docker registry Organization Access Token"

jobs:
  mypy:
    runs-on: ubuntu-24.04
    timeout-minutes: ${{ inputs.TIMEOUT }}
    env:
      DOCKER_TAG: u24-gcc-ompi-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Docker setup
        uses: scritical/.github/.github/actions/docker-setup@main
        with:
          DOCKER_USER: ${{ secrets.DOCKER_USER }}
          DOCKER_OAT: ${{ secrets.DOCKER_OAT }}
          DOCKER_TAG: ${{ env.DOCKER_TAG }}

      - name: MyPy type checking
        run: |
          docker exec \
            -e AGENT_NAME="${{ runner.name }}" \
            -e BUILD_REASON="${{ github.event_name }}" \
            app /bin/bash -c ". $BASHRC && cd $DOCKER_WORKING_DIR && mypy ."

      - name: Docker cleanup
        uses: scritical/.github/.github/actions/docker-cleanup@main

